Flask==2.3.2
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.3  # For database migrations
Flask-WTF==1.1.1  # For forms handling
Flask-Login==0.6.2  # For user session management
Flask-Mail==0.9.1  # For sending emails
Flask-Bcrypt==1.0.1  # For password hashing
Flask-Caching==2.0.1  # Caching support
Flask-Session==0.4.0  # Server-side sessions
Flask-CORS==3.0.10  # Cross-Origin Resource Sharing (CORS) support

SQLAlchemy==2.0.17
psycopg2-binary==2.9.7  # PostgreSQL database adapter
PyMySQL==1.0.3  # MySQL database adapter
gunicorn==20.1.0  # WSGI server for deployment
Werkzeug==2.3.3  # WSGI utilities
Jinja2==3.1.2  # For templating
MarkupSafe==2.1.2  # Safe string handling
WTForms==3.0.1  # For form generation and validation
itsdangerous==2.1.2  # For secure data serialization

alembic==1.10.3  # Database migrations with SQLAlchemy
python-dotenv==1.0.0  # Environment variable management

# Security
cryptography==41.0.2  # Cryptographic recipes and primitives
pyjwt==2.7.0  # JSON Web Token handling
