{% extends "base.html" %}

{% block title %}About Us - POSCC{% endblock %}

{% block content %}
    <!-- About Header Section -->
    <section class="aboutPage-header">
        <div class="aboutPage-header-content" id="about-establishment">
            <h1>Our History</h1>
            <p>The Port of Spain Corporation (POSC) is the municipal authority of Port of Spain
                proclaimed by the then Governor on June 25, 1914, established by the Legislative
                Council on June 26, 1914 and continued over time by various acts of Parliament, the
                most recent being the Municipal Corporations Act No. 21 of 1990 (MCA).
                The Corporation bears the legal name of “The Mayor, Alderman, Councillors and
                Citizens of the City of Port of Spain” and was established by law under the Port of Spain
                Corporation Ordinance (Chapter 39 No 1 1950 ED). By this name, it shall have
                perpetual succession and can sue or be sued in court actions.</p>
        </div>
    </section>

    <!-- About Content Section -->
    <section class="aboutPage-content">
        <h2 id="vision">Vision</h2>
        <p>We are the model of excellence in Local Government dedicated to
            sustainable development. <br>
            We are innovative and proactive in meeting the needs of our stakeholders
            while recognizing their values and contributions in the governance of the
            City. <br>
            We are a reputable organization that is professional, accountable,
            transparent and financially autonomous with competent leadership and
            highly motivated employees in a comfortable, safe and healthy
            environment. </p>

        <h2 id="mission">Mission</h2>
        <p>To pursue the continual development of the infrastructure, social, economic
            and environmental conditions through the combined energies of our highly
            motivated Council and workforce in collaboration with Central Government,
            the business sector, non-governmental organizations, and other stakeholders 
            that place the highest priority on enriching the lives of all citizens and visitors 
            within the capital city of Port of Spain.</p>

        <h2 id="boundaries">Spatial Content</h2>
        <p>Port of Spain Corporation is the capital city of the twin island Republic of Trinidad and
            Tobago. It is situated along the East – West corridor, which extends from Carenage in
            the West to Arima in the East.
            The city spans an area that comprises lands from the sea in the South to the foothills of
            the Northern Range. In the West, it extends from the Cocorite Walkover along Fort
            George Road into Long Circular Road, around Queen’s Park Savannah in the North to
            Lady Young Road, to a point just below the Trinidad Hilton. These boundaries
            encompass Belmont, Gonzales, East Dry River and Sea Lots in the East.</p>

        <h2>Corporate Structure</h2>
        <p>The Port of Spain Corporation comprises two functional arms, the Council or Political
            Arm and the Administration.<br>
            The Council or Political Arm is the executive or decision-making body (Section 10 of the
            MCA) and comprises of sixteen (16) persons: the Mayor, four (4) Aldermen, and Councillors.</p>
    </section>

{% endblock %}
